body {
    background-color: #1d1c1c;
    color: red;
}


.title{
  font-family: Georgia, serif;
  font-weight: bold;
  text-align: center;
}

.menutitle{
font-family: Georgia, serif;
font-weight: bold;
text-align: center;
}

.menu{
background-color: gray;
border-radius: 5px;
}


#grid {
  width: 100%;
  align:center;
  background-color: gray;
  border-radius: 5px;
}
